body {
    background-image: url("images/error.png");
}

.container{
    opacity: 0.9;
    margin: 50px auto;
    width: 80%;
    text-align: left;
    min-height: 50px;
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #007bff;
}

.cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cancel a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.cancel a:hover {
    text-decoration: underline;
}