<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TicketSphere</title>
    <link rel="stylesheet" href="/HeaderAndGeneral.css">
    <link rel="stylesheet" href="/Error.css">
</head>
<body>
    <div class="headertop">
        <header>
            <h1><a href="/web/loggedUser/{{loggedUser.id}}" class ="home">TicketSphere</a></h1>
        </header>
    </div>
    <div class="container">
        <h2>Error</h2>
        <p>Lo siento, lo que buscas no existe.</p>
    </div>
    <div class="cancel">
        <a href="/web/loggedUser/{{loggedUser.id}}" class="button">Volver atrás</a>
    </div>
</body>
</html>