<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TicketSphere</title>
    <link rel="stylesheet" href="/HeaderAndGeneral.css">
    <link rel="stylesheet" href="/List.css">
    <link rel="stylesheet" href="/Search.css">
</head>
<body>
    <div class="headertop">
        <header>
            <h1><a href="/web/loggedUser/{{loggedUser.id}}" class ="home">TicketSphere</a></h1>
            <form class="search" method="post" action="/web/searchLocation">
                <input type="text" id="search" name="search" placeholder="Busca por localización..." onkeyup="return search()">
            </form>
        </header>
    </div>
    <div class="container">
        <h2>Localizaciones</h2>
        <div class="event-container">
            <div class="event-scroll">
                {{#location}}
                    <div class="event-item">
                        <a href="/web/locationDetails/{{id}}">
                            <img src="{{image}}">
                        </a>
                        <p>
                            <a href="/web/locationDetails/{{id}}" class="button">{{name}}</a>
                        </p>
                    </div>
                {{/location}}
            </div>
        </div>
    </div>
    <div class="options">
        <a href="/web/addLocation" class="button">Agregar Localización Nueva</a>
        <a href="/web/loggedUser/{{loggedUser.id}}" class="button">Volver atrás</a>
    </div>
</body>
</html>